section#country{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}   
#country img{
    width: 32px;
    height: 32px;
    margin-right: 3px;
}
#country a > img{
    width: 8px;
    height: 8px;
    vertical-align: middle;
    padding-left: 8px;
    position: relative;
}

#country span{
    font-size: small;
    padding-left: 3px;
}

#crown-caps{
    max-width: 800px;
}

#crown-caps > div:first-child{
    display: flex;
    justify-content: end;
    margin-right: 60px;
}
#crown-caps > div:nth-child(2){
    display: flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

/* Crown caps images */
/* container */
.crown{
    width:130px;
    height: 130px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
}
/* general css */
.crown img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* other image only apears on hover */
.crown img.capsule-inside{
    visibility: hidden;
}
.crown:hover img.capsule-inside{
    visibility: initial;
}

/* search bar */

main > div:first-child.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70%;
    margin-top: 20px;
}

main input#search{
    width: 100%;
    height: 28px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
}

main input#search + button + button{
    height: 30px;
    width:45px;
    background-color:#1A66FF ;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
main input#search + button + button:hover{
    background-color: #1866e3;
}
main input#search + button + button:active{
    background-color: #2872e9;
}

main input#search + button + button img{
    object-fit: cover;
    height: 18px;
    width: 18px;
}

/* erase button */
main input#search + button img{
    object-fit: cover;
    height: 10px;
    width: 10px;
}
main input#search + button{
    height: 15px;
    width:15px;
    background-color:transparent ;
    border: 0;
    cursor: pointer;
    position: relative;
    right:35px;
    display: flex;
    justify-content: center;
    align-items: center;
}