/* General CSS */
body,html{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgb(225, 225, 225);
    overflow-x: hidden;
}
main{
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-bottom: 60px;
}

h1{
    font-size: 25px;
}

/* header */
header{
    position: fixed;
    top:8px;
    background-color: rgb(43, 43, 43);
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    width:100%;
    max-width: 1200px;
    z-index: 10;
    border-radius: 6px 6px 0 0;
    transition: top ease 0.4s;
}
@media screen and (max-width: 1200px) {
    header{
        top:0;
        border-radius: 0;
    }
}
header + div{
    min-height: 50px;
    width:100%;
    max-width: 1200px;
}
header + div + div{
    position: fixed;
    min-height: 50px;
    width:100%;
    max-width: 1200px;
    z-index: 9;
    background-color: rgb(225, 225, 225);
}

/* header logo */
header > a  > img{
    object-fit: cover;
    height: 100%;
    width:100%;
    border-radius: 6px 0 0 0;
}
header > a {
    height: 100%;
    width:20%;
}

/* navigation */
header nav {
    margin-left: 10px;
    width:80%;
}
header > img:nth-child(2){
    display: none;
}

/* navigation links */
nav a{
    color: white;
    text-decoration: none;
    position: relative;
    text-wrap: nowrap;
    white-space:nowrap;
    font-weight: bold;
    letter-spacing: 0.8px;
    width: 100%;
    height: 100%;
}
/* main navigation */
nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    gap:45px;
}
nav li{
    list-style: none;
    cursor: pointer;
}

/* drop down navigation */
li > ul{
    position: fixed;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
li:hover > ul{
    max-height: 500px;
    transition: max-height 0.1s ease-in-out;
    position: absolute;
    padding: 0;
    margin: 0;
}
li > ul > li{
    background-color: rgb(43, 43, 43);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
li > ul > li:hover,li > ul > li:hover a{
    background-color:rgb(240, 240, 240) ;
    color:rgb(43, 43, 43);
}

/* search bar */
header > input{
    display: flex;
    justify-self: end;
    width:300px;
    height: 25px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}

/* footer */
footer{
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 30px;
    border-radius: 0 0 6px 6px;
    font-size: 13px;
}
footer p{
    margin-left: 10px;
}
footer > div > a{
    margin-right: 10px;
}
 
/* SMALL SCREEN WIDTH */

@media screen and (max-width:800px){
    /* ==== NAVIGATION ==== */

    /* navigation */
    header nav{
        position: absolute;
        top:50px;
        width:100%;
        margin: 0;
        max-height: 0;
        overflow: hidden ;
        transition: all 0.4s ease-in-out;
    }

    /* 'button' to show and hide nav */
    header > img:nth-child(2){
        display: initial;
        width: 50%;
        height: 40px;
        object-fit: contain;
        margin-left: 10px;
        filter:invert();
        cursor: pointer;
    }

    /* Show nav */
    img:active + nav, img:hover + nav, nav:has(li:active), nav:has(li:hover),nav:has(ul:hover > li){
        max-height: 500px;
        transition: all 0.4s ease-in-out;
    }

    /* navigation main menu */
    nav > ul{
        flex-direction: column;
        justify-content: end;
        align-items: start;
        background-color: rgb(43, 43, 43);
        padding: 10px 0 10px 20px;
        gap:0;
    }

    /* Space between each option in main menu */
    nav > ul > li{
        padding-bottom: 30px;
    }
    
    /* drop down menu */
    li > ul{
        display: block;
        position: initial;
        overflow: hidden;
        max-height: 0;
        transition: all 0.4s ease-in-out;
        padding-left: 20px;
    }
    /* Shows drop down menu */
    li:active > ul,li:hover > ul{
        position: initial;
        padding-left: 20px;
        max-height: 500px;
        transition: all 0.4s ease-in-out;
    }

    /* Remove inappropriate wide screen style */
    li > ul > li:hover,li > ul > li:hover a{
        background-color: inherit;
        color: inherit;
    }
    li > ul > li{
        box-shadow: none;
    }

    /* Vertical white bar on the left of drop down menus */
    li:active > ul::before, li:hover > ul::before{
        background-color:rgb(240, 240, 240) ;
        background-size: 20px 20px;
        content: " ";
        display: inline-block;
        width:5px;
        height: 40%;
        position:absolute;
        left: 33px;
    }
}